.content {
    text-align: center;
    padding:10px;
}

input[type=text] {
    padding:10px;
    border:0;
    margin:10px 0;
    border-radius: 10px;
}

form {
    box-sizing: border-box;
    padding:2rem;
    border-radius:1rem;
    background-color: hsl(0,0%,100%);
    border: 4px solid hsl(0,0%,90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}

.message {
    font-size: 1.2em;
    color:#36a936;
}

.ButtonStyle {
    background-color: #ff5349;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    width:200px;
    cursor:url("https://i.stack.imgur.com/KDrS2.png"), auto;;
    font-weight: bold;
}